<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-3">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <label for="">Web pages:</label><br>
                <label for="">Facebook</label><br>
                <label for="">Google Plus</label><br>
            </div>

            <div class="col-md-3">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <label for="">Endereço:</label><br>
                <label for="">Rua: Da Dona Maria</label><br>
                <label for="">Bairro: Dona do Bairro</label><br>
                <label for="">CEP: 14000-000</label><br>
            </div>

            <div class="col-md-3">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <label for="">Contato:</label><br>
                <label for="">(16)3720-0000</label><br>
                <label for="">(16)3720-9999</label><br>
                <label for="">contato@email.com</label><br>
            </div>
        </div>
    </div>
</footer>