<!DOCTYPE html>
<html>
<head lang="pt-br">  
    <meta charset="UTF-8">
    <title>TABLE</title>


    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">

    <script type="application/javascript" src="../jquery/jquery.min.js"></script>
    <script type="application/javascript" src="../bootstrap/js/bootstrap.min.js"></script>



</head>
<body>
    
    <div class="container">
        <div>
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Cor</th>
                        <th>Ano</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>listaCarro-modelo </td>
                        <td>listaCarro-marca</td>
                        <td>listaCarro-cor</td>
                        <td>listaCarro-ano</td>
                        <td>listaCarro-preco</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>


