<div class="container ">
    <nav class="navbar navbar-inverse menu">
        <div class="container-fluid menu">
            <div class="navbar-header navbar-brand">Inicio
                <!-- <a class="navbar-brand" href="#">Inicio</a> -->
            </div>
            <ul class="nav navbar-nav menu">
                <li><a href="#">Carro</a></li>
                <li><a href="#">Cliente</a></li>
                <li><a href="#">Financeiro</a></li>
                <li><a href="#">Teste</a></li>
            </ul>
        </div>
    </nav>
</div>